<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691469718157-ilt8kfunve6lq8111pp27r4aup9fg1va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691469718157-ilt8kfunve6lq8111pp27r4aup9fg1va</string>
	<key>API_KEY</key>
	<string>AIzaSyCGuq7PHaAdc60YrBMpvHuxq0hJi2GEjEE</string>
	<key>GCM_SENDER_ID</key>
	<string>691469718157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.nishino.flutterCloudStorage</string>
	<key>PROJECT_ID</key>
	<string>flutter-cloudstoragetest</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cloudstoragetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691469718157:ios:9bc8c1910c12da8632c8c4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-cloudstoragetest.firebaseio.com</string>
</dict>
</plist>